parameters:


services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $fullUrl: '%env(FULL_URL)%'
            $email: '%env(EMAIL)%'
            $phoneNumber: '%env(PHONE_NUMBER)%'

    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'
